
@{
    ViewBag.Title = "DerechoMigratorio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Page Title-->
<section class="page-title" style="background-image:url(/images/1920x350/migratorio.jpg);">
    <div class="auto-container">
        <h1>Derecho Migratorio</h1>
    </div>
</section>

<!--Page Info-->
<section class="page-info">
    <div class="auto-container clearfix">
        <div class="pull-left"><h2>Derecho Migratorio</h2></div>
        <div class="pull-right">
            <ul class="bread-crumb clearfix">
                <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                <li><a href="@Url.Action("PracticeArea", "Home")">Areas de Practica</a></li>
                <li>Derecho Migratorio</li>
            </ul>
        </div>
    </div>
</section>


<!--Sidebar Page-->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">

            <!--Content Side-->
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 pull-right">
                <!--Law Section-->
                <section class="law-section">

                    <!--Upper Part-->
                    <div class="law-upper">
                        <div class="row clearfix">
                            <div class="col-md-7 col-sm-6 col-xs-12">
                                <!--Carousel Outer-->
                                <div class="carousel-outer">
                                    <!--Image Carousel-->
                                    <ul class="image-carousel single-item-carousel">
                                        <li><a href="/images/500x408/derecho-migratorio.jpg" class="lightbox-image" title="Image Caption Here"><img src="/images/500x408/derecho-migratorio.jpg" alt=""></a></li>
                                        <li><a href="/images/500x408/banderas2.jpg" class="lightbox-image" title="Espacio Schengen"><img src="/images/500x408/banderas2.jpg" alt=""></a></li>
                                        <li><a href="/images/500x408/visaCanada.jpg" class="lightbox-image" title="Image Caption Here"><img src="/images/500x408/visaCanada.jpg" alt=""></a></li>
                                        <li><a href="/images/500x408/schengen-visa1.jpg" class="lightbox-image" title="Image Caption Here"><img src="/images/500x408/schengen-visa1.jpg" alt=""></a></li>
                                        <li><a href="/images/500x408/ViajeMenor.jpg" class="lightbox-image" title="Image Caption Here"><img src="/images/500x408/ViajeMenor.jpg" alt=""></a></li>
                                    </ul>

                                </div>
                            </div>

                            <div class="col-md-5 col-sm-6 col-xs-12">
                                <!--Specs Box-->
                                <div class="specs-box">
                                    <h2>Asuntos Derecho Migratorio</h2>

                                    <ul class="styled-list-one">
                                        <li>Visa Americana de Paseo B1/B2</li>
                                        <li>Visa Canadiense</li>
                                        <li>Visa Paises Espacio Schengen</li>
                                        <li>Naturalizacion en RD</li>
                                        <li>Renovacion de Visa Americana</li>
                                        <li>Residencia Dominicana</li>
                                        <li>Rastreo de Casos</li>
                                        <li>Permiso de Viaje para Menores</li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div><!--Upper Part-->
                    <!--About Law-->
                    <div class="about-law">

                        <div class="clearfix">
                            <div class="styled-heading pull-left"><h2>Acerca del Derecho Migratorio</h2></div>
                            <div class="padd-top-10 pull-right"><a href="@Url.Action("Index", "Home")" class="theme-btn btn-style-one">Envia tu Caso</a></div>
                        </div>

                        <div class="text">
                            <p>
                                El Derecho migratorio es el conjunto de normas de derecho público que regulan el tránsito internacional de personas
                                (nacionales y extranjeros); establece las modalidades y condiciones a que se sujetará el ingreso, permanencia o
                                estancia y salida de extranjeros y lo relativo a la emigración y repatriación de nacionales.
                            </p>
                        </div>

                    </div>

                    <!--Default Two Column-->
                    <div class="default-two-column">
                        <div class="row clearfix">
                            <div class="col-lg-7 col-md-12 col-xs-12">
                                <div class="styled-heading"><h2>Conozca sus Derechos</h2></div>

                                <div class="text">
                                    <p>
                                        Los siete delitos que les podrían causar problemas bajo las leyes de inmigración de los Estados Unidos son los siguientes: <br>

                                        <br>    1. Ofensas múltiples consideradas ser contra la moral de los Estados Unidos como por ejemplo la violencia domestica o el fraude de cualquier índole.
                                        <br>      2. Delitos que tengan que ver con drogas como por ejemplo el uso de drogas, posesión, venta de drogas, o estar bajo la influencia de las mismas.
                                        <br>    3.  Tener documentos falsos o presentar documentos falsos a las autoridades.
                                        <br>    4.   Delitos de robo o posesión de propiedad robada.
                                        <br>   5.    Asalto o asalto a mano armada.
                                        <br>    6.  El acto de ayudar a una persona a ingresar a los Estados Unidos sin documentos.
                                        <br>   7.   Felonías o felonías agravadas.
                                    </p>
                                    <p>
                                        Si un delito no aparece en la lista, esto no significa que podrán ser beneficiados bajo las leyes de inmigración sin problemas. Si tienen delitos o han tenido delitos en el pasado y están a punto de solicitar un tramite de inmigración o se están preparando para la posibilidad de una reforma migratoria, no esperen hasta el último minuto para tener sus casos analizados. Es importante consultar a un experto en leyes penalistas quien también sea especialista en leyes de inmigración para ver si el delito puede ser rebajado para que de esta manera las puertas bajo las leyes de inmigración no sean cerradas.

                                    </p>
                                </div>
                            </div>


                            <div class="col-lg-5 col-md-12 col-xs-12">
                                <!--Accordion Box-->
                                <div class="accordion-box style-two">
                                    <!-- Accordion -->
                                    <div class="accordion accordion-block">
                                        <div class="accord-btn active"><h4>Autorizacion Viaje a Menores de Edad</h4></div>
                                        <div class="accord-content collapsed">
                                            <p> Es la certificación en la que un padre o ambos autorizan a un menor dominicano, a salir del territorio nacional. Hoja certificada con validez de 30 días.</p>
                                        </div>
                                    </div>
                                    <!-- Accordion -->
                                    <div class="accordion accordion-block">
                                        <div class="accord-btn"><h4>Tasas por estadia en RD mas de 31 dias</h4></div>
                                        <div class="accord-content">
                                            <p>
                                                Según el artículo 40, numeral 1, de la Ley 285-04 dominicana General de Migración, y el artículo 81 del Decreto núm.. 631-11 dominicano, de aplicación de la ley, la estadía o permanencia, por más de 31 días, de cualquier ciudadano extranjero comprendido en los grupos:

                                                <br>1. Turistas
                                                <br> 2. Personas de Negocios (visa NM)
                                                <br>  3. Personas que hayan entrado al país a razón de su actividad, deportistas, artistas, académicos o de naturaleza anexa.
                                                <br>llevará anejo el pago de una tasa en las siguientes cuantías:
                                                <br> 31 días a 3 meses $RD   2,500.00
                                                <br>  3 a 9 meses        $RD 4,000.00
                                                <br>  9 a 12 meses       $RD 5,000.00
                                                <br> 12 a 18 meses       $RD 6,500.00
                                                <br> 18 a 24 meses       $RD 8,000.00
                                                <br> 24 a 30 meses      $RD 9,500.00
                                                <br>  30 a 36 meses       $RD 11,000.00
                                                <br> 36 a 48 meses       $RD 16,000.00
                                                <br> 48 a 60 meses        $RD  20,000.00
                                                <br> 6 años            $RD   30,000.00
                                                <br>  7 años          $RD    40,000.00
                                                <br>  8 años          $RD     50,000.00
                                                <br>  9 años          $RD   60,000.00
                                                <br>  10 años        $RD   70,000.00<br>

                                                <br> Para el resto de categorías, estas tasas rigen por el artículo 36, con la permanencia que les autoriza el artículo 40.
                                            </p>
                                        </div>
                                    </div>
                                    <!-- Accordion -->
                                    <div class="accordion accordion-block">
                                        <div class="accord-btn"><h4>Sobre las Visas en RD</h4></div>
                                        <div class="accord-content">
                                            <p>
                                                República Dominicana expide visas de turista, de negocios, de trabajo, de estudiante y de residencia. Las visas ​​de turista se pueden expedir para una o varias entradas y se pueden extender por 60 días.
                                            </p>
                                        </div>
                                    </div>
                                    <!-- Accordion -->
                                    <div class="accordion accordion-block">
                                        <div class="accord-btn"><h4>La Tarjeta de Visita en RD</h4></div>
                                        <div class="accord-content">
                                            <p>Los extranjeros legalmente capaces de entrar a la Unión Europea, Gran Bretaña, Estados Unidos de América o Canadá pueden entrar a República Dominicana con tan solo presentar una tarjeta de turista.</p>

                                            <p>   La tarjeta de turista tiene una vigencia de un año a partir de la fecha de compra, y es válida para una visita de hasta 30 días y podrá utilizarla solo una vez.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>


                    </div><!--End Default Two Column-->
                </section>



            </div><!--End Content Side-->
            <!--Sidebar-->
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 pull-left">
                <aside class="sidebar">

                    <!--Sidebar Widget / Boxed Nav-->
                    <div class="widget sidebar-widget boxed-nav">
                        <nav class="nav-outer">
                            <ul>
                                <li class="current"><a href="@Url.Action("PracticeArea", "Home")">Areas de Practica</a></li>
                                <li><a href="@Url.Action("DerechoCivil", "Home")">Derecho Civil</a></li>
                                <li><a href="@Url.Action("DerechoFamilia", "Home")">Derecho de Familia</a></li>
                                <li><a href="@Url.Action("DerechoMigratorio", "Home")">Derecho Migratorio</a></li>
                                <li><a href="@Url.Action("DerechoPenal", "Home")">Derecho Penal</a></li>
                                <li><a href="@Url.Action("DerechoInmobiliario", "Home")">Derecho Inmobiliario</a></li>
                                <li><a href="@Url.Action("DerechoOtro", "Home")">Otros Servicios</a></li>
                            </ul>
                        </nav>
                    </div>

                </aside>
            </div><!--End Sidebar-->

        </div>
    </div>
</div>



