
@{
    ViewBag.Title = "DerechoInmobiliario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Page Title-->
<section class="page-title" style="background-image:url(/images/1920x350/inmob2.jpg);">
    <div class="auto-container">
        <h1>Derecho Inmobiliario</h1>
    </div>
</section>

<!--Page Info-->
<section class="page-info">
    <div class="auto-container clearfix">
        <div class="pull-left"><h2>Derecho Inmobiliario</h2></div>
        <div class="pull-right">
            <ul class="bread-crumb clearfix">
                <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                <li><a href="@Url.Action("PracticeArea", "Home")">Areas de Practica</a></li>
                <li>Derecho Inmobiliario</li>
            </ul>
        </div>
    </div>
</section>


<!--Sidebar Page-->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">

            <!--Content Side-->
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 pull-right">
                <!--Law Section-->
                <section class="law-section">

                    <!--Upper Part-->
                    <div class="law-upper">
                        <div class="row clearfix">
                            <div class="col-md-7 col-sm-6 col-xs-12">
                                <!--Carousel Outer-->
                                <div class="carousel-outer">
                                    <!--Image Carousel-->
                                    <ul class="image-carousel single-item-carousel">
                                        <li><a href="/images/500x408/area-inmobiliario.jpg" class="lightbox-image" title="Procedimiento Civil"><img src="/images/500x408/area-inmobiliario.jpg" alt=""></a></li>
                                        <li><a href="/images/500x408/realestate.jpg" class="lightbox-image" title="Procedimiento Civil"><img src="/images/500x408/realestate.jpg" alt=""></a></li>
                                        <li><a href="/images/500x408/banner_ddi.jpg" class="lightbox-image" title="Procedimiento Civil"><img src="/images/500x408/banner_ddi.jpg" alt=""></a></li>
                                    </ul>

                                </div>
                            </div>

                            <div class="col-md-5 col-sm-6 col-xs-12">
                                <!--Specs Box-->
                                <div class="specs-box">
                                    <h2>Derecho Inmobiliario</h2>

                                    <ul class="styled-list-one">
                                        <li>Ventas</li>
                                        <li>Alquileres</li>
                                        <li>Desalojos</li>
                                        <li>Administracion de Inmuebles</li>
                                        <li>Litis sobre Derechos Registrados</li>
                                        <li>Transferencia de Propiedades</li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div><!--Upper Part-->
                    <!--About Law-->
                    <div class="about-law">

                        <div class="clearfix">
                            <div class="styled-heading pull-left"><h2>Acerca del Derecho Inmobiliario</h2></div>
                            <div class="padd-top-10 pull-right"><a href="@Url.Action("Index", "Home")" class="theme-btn btn-style-one">Envie su Caso</a></div>
                        </div>

                        <div class="text">
                            <p>
                                El Derecho Inmobiliario son las normas positivas que rigen el nacimiento, adquisición, modificación,
                                transmisión y extinción de los derechos de propiedad y sus desmembraciones y gravámenes sobre bienes
                                inmuebles, y en especial, la publicidad necesaria para completar los negocios jurídicos erga omnes sobre los
                                derechos anteriores.<br>
                                <br>La Jurisdicción Inmobiliaria tiene competencia exclusiva para conocer de los derechos inmobiliarios y su registro
                                en República Dominicana, desde que se solicita la autorización para la mensura y durante toda la vida del inmueble,
                                salvo las excepciones previstas en el marco legal.
                            </p>
                        </div>

                    </div>

                    <!--Default Two Column-->
                    <div class="default-two-column">
                        <div class="row clearfix">
                            <div class="col-lg-7 col-md-12 col-xs-12">
                                <div class="styled-heading"><h2>Conozca sus Derechos</h2></div>

                                <div class="text">
                                    <p>
                                        En materia de terreno no registrado, quien transcribe primero el acto de venta (aunque sea el segundo adquiriente) tiene la preferencia,
                                        ya que la primera venta no le es oponible. Esta regla sufre una excepción, cuando se prueba que el segundo adquiriente estaba enterado
                                        de la primera venta.
                                    </p>
                                    <p>
                                        Los inmuebles que poseen los esposos el día de la celebración del matrimonio no
                                        entran en comunidad, por lo que, si se comprueba que uno de los esposos inició la posesión
                                        de un inmueble antes del matrimonio, éste permanece siendo un bien propio de dicho
                                        esposo, aun cuando el plazo de la prescripción se cumpla durante el matrimonio.
                                    </p>
                                    <p>
                                        Si los concubinos permanecen conviviendo por largo tiempo y luego deciden
                                        casarse, los inmuebles adquiridos por uno de ellos durante el concubinato no entran en la
                                        comunidad legal.
                                    </p>
                                </div>
                            </div>

                            <div class="col-lg-5 col-md-12 col-xs-12">
                                <!--Accordion Box-->
                                <div class="accordion-box style-two">
                                    <!-- Accordion -->
                                    <div class="accordion accordion-block">
                                        <div class="accord-btn active"><h4>La Jurisdiccion Inmobliaria</h4></div>
                                        <div class="accord-content collapsed">
                                            <p>
                                                El sector inmobiliario está regulado fundamentalmente por la Ley 108-05 de Registro Inmobiliario del 23 de marzo de 2005,
                                                (modificada por la Ley 51-07 del 23 de abril de 2007), la cual norma el registro de los derechos reales inmobiliarios en
                                                todo el territorio Dominicano, implementando el sistema de publicidad inmobiliaria del país.
                                                <br>
                                                La Jurisdicción Inmobiliaria está compuesta por:
                                                <br>
                                                Tribunales Superiores de Tierras. <br>
                                                Tribunales de Jurisdicción Original. <br>
                                                Dirección Nacional de Registro de Títulos. <br>
                                                Dirección Nacional de Mensuras Catastrales. <br>
                                                Asi mismo es integrante del Abogado del Estado.
                                            </p>
                                        </div>
                                    </div>
                                    <!-- Accordion -->
                                    <div class="accordion accordion-block">
                                        <div class="accord-btn"><h4>La Tasacion de Inmuebles</h4></div>
                                        <div class="accord-content">
                                            <p>
                                                La tasación, técnicamente denominada como informe de valoración, es un documento que suscribe un profesional competente para hacerlo
                                                y tiene como objetivo establecer de forma justificada el valor de un bien, de acuerdo con unos criterios previamente establecidos
                                                y desarrollando una metodología adecuada al fin propuesto.<br>
                                                <br>Una tasación hipotecaria es una valoración de un inmueble para que el mismo sea objeto de garantía en un préstamo hipotecario.
                                                A través de esta valoración el prestamista, normalmente una entidad financiera, sabe cuál es el valor del bien garantía del préstamo
                                                y cuál es el riesgo que asume con la operación hipotecaria. La tasación hipotecaria no tiene otra finalidad más que servir de garantía
                                                para el préstamo hipotecario, siendo totalmente independiente del importe por el cuál se realiza la hipotética transacción económica
                                                de compra-venta o el devengo de impuestos que la misma suponga. Los bancos prestan normalmente el 80% del valor de tasación.
                                            </p>
                                        </div>
                                    </div>
                                    <!-- Accordion -->
                                    <div class="accordion accordion-block">
                                        <div class="accord-btn"><h4>Desalojo de Inquilino</h4></div>
                                        <div class="accord-content">
                                            <p>
                                                Ley No. 17-88, Art. 8, que impide el desalojo cuando el arrendador no ha depositado
                                                la garantía del inquilino en el Banco Agrícola. <br>
                                                <br>Ley No. 317 de 1968, art. 55, que impide el desalojo cuando el propietario no ha
                                                depositado copia de la declaración del inmueble en el Catastro Nacional, G.O. 9086.6. Sobre
                                                su inconstitucionalidad, Ver Constitución, Ley No. 317 sobre Catastro Nacional.
                                            </p>
                                        </div>
                                    </div>
                                    <!-- Accordion -->
                                    <div class="accordion accordion-block">
                                        <div class="accord-btn"><h4>Sobre Condominios</h4></div>
                                        <div class="accord-content">
                                            <p>
                                                El inquilino de un local ubicado en un condominio regido por la Ley No. 5038 del
                                                21 de noviembre de 1958, no tiene la facultad de accionar judicialmente sobre cuestiones
                                                concernientes exclusivamente a los derechos y obligaciones consustanciales a la condición
                                                del propietario.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div><!--End Default Two Column-->

                </section>



            </div><!--End Content Side-->
            <!--Sidebar-->
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 pull-left">
                <aside class="sidebar">

                    <!--Sidebar Widget / Boxed Nav-->
                    <div class="widget sidebar-widget boxed-nav">
                        <nav class="nav-outer">
                            <ul>
                                <li class="current"><a href="@Url.Action("PracticeArea", "Home")">Areas de Practica</a></li>
                                <li><a href="@Url.Action("DerechoCivil", "Home")">Derecho Civil</a></li>
                                <li><a href="@Url.Action("DerechoFamilia", "Home")">Derecho de Familia</a></li>
                                <li><a href="@Url.Action("DerechoMigratorio", "Home")">Derecho Migratorio</a></li>
                                <li><a href="@Url.Action("DerechoPenal", "Home")">Derecho Penal</a></li>
                                <li><a href="@Url.Action("DerechoInmobiliario", "Home")">Derecho Inmobiliario</a></li>
                                <li><a href="@Url.Action("DerechoOtro", "Home")">Otros Servicios</a></li>
                            </ul>
                        </nav>
                    </div>

                </aside>
            </div><!--End Sidebar-->

        </div>
    </div>
</div>



