
@{
    ViewBag.Title = "DerechoOtro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Page Title-->
<section class="page-title" style="background-image:url(/images/1920x350/vacancies.jpg);">
    <div class="auto-container">
        <h1>Otros Servicios Legales</h1>
    </div>
</section>

<!--Page Info-->
<section class="page-info">
    <div class="auto-container clearfix">
        <div class="pull-left"><h2>Otros Servicios Legales</h2></div>
        <div class="pull-right">
            <ul class="bread-crumb clearfix">
                <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                <li><a href="@Url.Action("PracticeArea", "Home")">Areas de Practica</a></li>
                <li>Otros Servicios Legales</li>
            </ul>
        </div>
    </div>
</section>


<!--Sidebar Page-->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">

            <!--Content Side-->
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 pull-right">
                <!--Law Section-->
                <section class="law-section">

                    <!--Upper Part-->
                    <div class="law-upper">
                        <div class="row clearfix">
                            <div class="col-md-7 col-sm-6 col-xs-12">
                                <!--Carousel Outer-->
                                <div class="carousel-outer">
                                    <!--Image Carousel-->
                                    <ul class="image-carousel single-item-carousel">
                                        <li><a href="/images/500x408/vehiculo.jpg" class="lightbox-image" title="Traspaso de Vehiculo"><img src="/images/500x408/vehiculo.jpg" alt=""></a></li>
                                        <li><a href="/images/500x408/laborales.jpg" class="lightbox-image" title="Conflictos Laborales"><img src="/images/500x408/laborales.jpg" alt=""></a></li>
                                        <li><a href="/images/500x408/deuda.jpg" class="lightbox-image" title="Asesoria Crediticia"><img src="/images/500x408/deuda.jpg" alt=""></a></li>
                                        <li><a href="/images/500x408/publicidad.jpg" class="lightbox-image" title="Asesoria Crediticia"><img src="/images/500x408/publicidad.jpg" alt=""></a></li>
                                        <li><a href="/images/500x408/boletos.jpg" class="lightbox-image" title="Asesoria Crediticia"><img src="/images/500x408/boletos.jpg" alt=""></a></li>
                                    </ul>

                                </div>
                            </div>

                            <div class="col-md-5 col-sm-6 col-xs-12">
                                <!--Specs Box-->
                                <div class="specs-box">
                                    <h2>Otros Servicios Legales</h2>

                                    <ul class="styled-list-one">
                                        <li>Conflictos Laborales</li>
                                        <li>Traspaso de Vehiculo de Motor</li>
                                        <li>Asesoria Crediticia</li>
                                        <li>Venta de Boletos Aereos</li>
                                        <li>Software a la Medida</li>
                                        <li>Diseño de Paginas Web</li>
                                        <li>Publicidad para tu negocio</li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div><!--Upper Part-->
                    <!--About Law-->
                    <div class="about-law">

                        <div class="clearfix">
                            <div class="styled-heading pull-left"><h2>Otros Servicios Legales</h2></div>
                            <div class="padd-top-10 pull-right"><a href="@Url.Action("Index", "Home")" class="theme-btn btn-style-one">Envia tu Caso</a></div>
                        </div>

                        <div class="text">
                            <p>
                                En Baugil Abogados no nos limitamos solo al ejercicio del Derecho sino que trabajamos directamente
                                con la tecnologia por lo que asesoramos en otras areas de interes para nuestros clientes. Brindamos
                                servicio de Venta de Boletos Aereos para que aproveches ofertas con descuentos increibles. Tambien
                                trabajamos en la creacion y diseño de software a la medida, asi como paginas webs y para darte un
                                servicio completo, te brindamos el servicio de publicidad, para que tu negocio se posicione como
                                marca, inversion que se vera reflejada en aumento del flujo de la clientela.

                            </p>
                        </div>

                    </div>

                    <!--Default Two Column-->
                    <div class="default-two-column">
                        <div class="row clearfix">
                            <div class="col-lg-7 col-md-12 col-xs-12">
                                <div class="styled-heading"><h2>Conozca sus Derechos</h2></div>

                                <div class="text">
                                    <p>
                                        Todos los trabajadores asalariados y el empleador dominicano y los ciudadanos extranjeros que tengan establecida
                                        su residencia en el territorio nacional, que se encuentren en situación migratoria regular en el país, de
                                        cualquier edad sin excepción deben cotizar al SDSS a través de sus empleadores. Incluyendo los afiliados
                                        mayores de 45 años de edad.
                                    </p>
                                    <p>
                                        Según la nueva Ley sobre la Protección de Datos de Carácter Personal 172-13 de diciembre 2013, el acceso a nuestros historiales
                                        de crédito no solamente es gratuito, sino que podemos acceder a esos informes cada tres meses (o cuatro veces al año)..
                                    </p>

                                    <p>
                                        La publicidad es una forma de comunicación. Para la mayoría de las empresas es una herramienta clave para el éxito.
                                        Un error muy común y grave es asumir que de manera automática los consumidores están al tanto de lo que tenemos que
                                        ofrecerles.
                                    </p>
                                </div>
                            </div>

                            <div class="col-lg-5 col-md-12 col-xs-12">
                                <!--Accordion Box-->
                                <div class="accordion-box style-two">
                                    <!-- Accordion -->
                                    <div class="accordion accordion-block">
                                        <div class="accord-btn active"><h4>Plazo Traspaso Vehiculo de Motor</h4></div>
                                        <div class="accord-content collapsed">
                                            <p>
                                                La transferencia debe realizarse dentro de un plazo de 90 días después de realizado el contrato de venta,
                                                vencido este plazo serán aplicados los recargos e intereses establecidos en el art. 252 del Código Tributario,
                                                como siguen: un 10% de recargo por mora sobre el valor del impuesto a pagar, por el primer mes o fracción de mes,
                                                un 4% progresivo e indefinido por cada mes o fracción de mes subsiguiente; y un 1.10% acumulativo de interés indemnizatorio.
                                            </p>
                                        </div>
                                    </div>
                                    <!-- Accordion -->
                                    <div class="accordion accordion-block">
                                        <div class="accord-btn"><h4>Laboral: Numero Seguridad Social a Extranjeros</h4></div>
                                        <div class="accord-content">
                                            <p>
                                                El representante del empleador deberá acceder al SUIR y buscar la opción “Solicitud asignación NSS” para realizar
                                                la solicitud de asignación del Número de Seguridad Social (NSS) a cada trabajador extranjero  y realizar los
                                                siguientes pasos:
                                                <br>   1‐Digitar los datos generales de los trabajadores extranjeros
                                                <br> 2‐ Cargar los documentos de forma individual en un archivo electrónico de un máximo de 600 kilobytes en
                                                formato PDF multi‐página de la siguiente manera:
                                                <br> Para los extranjeros con el documento definitivo emitido
                                                por el MIyP: Copia escaneada de la página de identidad del pasaporte vigente y copia escaneada del documento
                                                expedido por el Ministerio de Interior y Policía que indica la regularización migratoria del trabajador.
                                                (un archivo PDF de dos páginas)
                                                <br>Para los extranjeros con carné expedido por la Dirección General de Migración:
                                                Copia escaneada del carné de migración vigente (un archivo PDF de una página).
                                                <br>Para los extranjeros con visa de trabajo: Copia escaneada de la página de identidad del pasaporte
                                                vigente y copia escaneada del estampado de la visa de trabajo vigente (un archivo PDF de dos páginas).
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div><!--End Default Two Column-->

                </section>

            </div><!--End Content Side-->
            <!--Sidebar-->
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 pull-left">
                <aside class="sidebar">

                    <!--Sidebar Widget / Boxed Nav-->
                    <div class="widget sidebar-widget boxed-nav">
                        <nav class="nav-outer">
                            <ul>
                                <li class="current"><a href="@Url.Action("PracticeArea", "Home")">Areas de Practica</a></li>
                                <li><a href="@Url.Action("DerechoCivil", "Home")">Derecho Civil</a></li>
                                <li><a href="@Url.Action("DerechoFamilia", "Home")">Derecho de Familia</a></li>
                                <li><a href="@Url.Action("DerechoMigratorio", "Home")">Derecho Migratorio</a></li>
                                <li><a href="@Url.Action("DerechoPenal", "Home")">Derecho Penal</a></li>
                                <li><a href="@Url.Action("DerechoInmobiliario", "Home")">Derecho Inmobiliario</a></li>
                                <li><a href="@Url.Action("DerechoOtro", "Home")">Otros Servicios</a></li>
                            </ul>
                        </nav>
                    </div>

                </aside>
            </div><!--End Sidebar-->
        </div>
    </div>
</div>


