
@{
    ViewBag.Title = "DerechoPenal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Page Title-->
<section class="page-title" style="background-image:url(/images/1920x350/mazolibros.jpg);">
    <div class="auto-container">
        <h1>Derecho Penal</h1>
    </div>
</section>

<!--Page Info-->
<section class="page-info">
    <div class="auto-container clearfix">
        <div class="pull-left"><h2>Derecho Penal</h2></div>
        <div class="pull-right">
            <ul class="bread-crumb clearfix">
                <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                <li><a href="@Url.Action("PracticeArea", "Home")">Areas de Practica</a></li>
                <li>Derecho Penal</li>
            </ul>
        </div>
    </div>
</section>


<!--Sidebar Page-->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">

            <!--Content Side-->
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 pull-right">
                <!--Law Section-->
                <section class="law-section">

                    <!--Upper Part-->
                    <div class="law-upper">
                        <div class="row clearfix">
                            <div class="col-md-7 col-sm-6 col-xs-12">
                                <!--Carousel Outer-->
                                <div class="carousel-outer">
                                    <!--Image Carousel-->
                                    <ul class="image-carousel single-item-carousel">
                                        <li><a href="/images/500x408/penalderechopenal.jpg" class="lightbox-image" title="Medida de Coercion"><img src="/images/500x408/penalderechopenal.jpg" alt=""></a></li>
                                        <li><a href="/images/500x408/penalderechopenal.png" class="lightbox-image" title="Litigios Penales"><img src="/images/500x408/penalderechopenal.png" alt=""></a></li>
                                        <li><a href="/images/500x408/PenalMDP.jpg" class="lightbox-image" title="Derecho Penal"><img src="/images/500x408/PenalMDP.jpg" alt=""></a></li>
                                        <li><a href="/images/500x408/delitoDinero.jpg" class="lightbox-image" title="Delito contra la Propiedad"><img src="/images/500x408/delitoDinero.jpg" alt=""></a></li>
                                    </ul>

                                </div>
                            </div>

                            <div class="col-md-5 col-sm-6 col-xs-12">
                                <!--Specs Box-->
                                <div class="specs-box">
                                    <h2>Asuntos del Derecho Penal</h2>

                                    <ul class="styled-list-one">
                                        <li>Litigios Penales</li>
                                        <li>Accidentes de Transito</li>
                                        <li>Medida de Coercion</li>
                                        <li>Delito contra la Propiedad</li>
                                        <li>Robo de Identidad</li>
                                        <li>Cheques sin Fondo</li>
                                        <li>Pension Alimentaria</li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div><!--Upper Part-->
                    <!--About Law-->
                    <div class="about-law">

                        <div class="clearfix">
                            <div class="styled-heading pull-left"><h2>Sobre el Derecho Penal</h2></div>
                            <div class="padd-top-10 pull-right"><a href="@Url.Action("Index", "Home")" class="theme-btn btn-style-one">Envia tu Caso</a></div>
                        </div>

                        <div class="text">
                            <p>
                                El Derecho Penal tiene por objeto prevenir y reprimir los actos considerados lesivos del orden social.  En sentido mas estricto el derecho penal
                                define las infracciones, organiza las penas y medidas similares, y determina las condiciones de la responsabilidad penal. <br>

                                <br>El Derecho Penal comprende una serie de leyes jurídicas con poder para privar de libertades y velar por el cumplimiento de las sanciones impuestas.
                                El Derecho Penal dicta todo tipo de sentencia ante situaciones que puedan alterar de manera negativa el orden de la vida en la sociedad, si una persona
                                infringe en el código civil y viola los estatutos morales impuestos por la ética y la moral del medio ambiente que lo rodea, se vera obligado a pagar
                                por sus infracciones.<br>
                                <br>El objetivo clave del derecho penal es proteger a la sociedad de las malas costumbres, fue ideado con el precepto de dejar en claro que el estado
                                y las instituciones deben permanecer firmes a la corrupción y la maldad, fundando así sentimientos de libertad y buen vivir entre los ciudadanos.<br>
                                <br> Las Acusaciones penales pueden resultar en severas consecuencias jurídicas de una condena. Por esto defendemos con fervor y eficiencia a nuestros
                                clientes acusados de un delito o que tienen un proceso legal que encarar.
                            </p>
                        </div>

                    </div>

                    <!--Default Two Column-->
                    <div class="default-two-column">
                        <div class="row clearfix">
                            <div class="col-lg-7 col-md-12 col-xs-12">
                                <div class="styled-heading"><h2>Conozca sus Derechos</h2></div>

                                <div class="text">
                                    <p>
                                        Las sentencias sobre pensión alimentaria no tienen autoridad de cosa juzgada,
                                        puesto que el tribunal puede modifcar y revocar cualquier monto de pensión que
                                        haya ordenado, si sobreviene un cambio en las necesidades del menor o porque los
                                        medios económicos de los padres experimentan alguna variación.
                                    </p>
                                    <p>
                                        En materia penal, si la sentencia no es leída en presencia de las partes o
                                        notifcada, la Corte debe tener en cuenta que el recurrente no conocía la sentencia
                                        íntegra y, por tanto, no podía expresar concretamente los motivos de su recurso, por
                                        lo que, al declarar inadmisible el recurso de apelación por falta de motivos, se violó el
                                        derecho de defensa del imputado
                                    </p>
                                    <p>
                                        El recurso de apelación en materia penal debe ser incoado en el plazo de diez
                                        días a partir del pronunciamiento de la sentencia, a condición de que las partes
                                        hayan quedado citadas para oír el pronunciamiento del fallo, y no cuando el tribunal
                                        se reserva el fallo sin fecha y la decisión no es notifcada.
                                    </p>
                                </div>
                            </div>

                            <div class="col-lg-5 col-md-12 col-xs-12">
                                <!--Accordion Box-->
                                <div class="accordion-box style-two">
                                    <!-- Accordion -->
                                    <div class="accordion accordion-block">
                                        <div class="accord-btn active"><h4>Incumplimiento Pension Alimentaria</h4></div>
                                        <div class="accord-content collapsed">
                                            <p>
                                                Las sentencias que imponen una condena suspensiva de dos años de prisión
                                                correccional por incumplimiento a las obligaciones alimentarias, así como los
                                                impedimentos de salida del país que las autoridades disponen por ese concepto, no
                                                deben considerarse elementos constitutivos de historial delictivo, ni de antecedentes
                                                penales, al tratarse de mecanismos coercitivos para garantizar el cumplimiento de una
                                                obligación a favor de un menor.
                                            </p>
                                        </div>
                                    </div>
                                    <!-- Accordion -->
                                    <div class="accordion accordion-block">
                                        <div class="accord-btn"><h4>Incendio Intencional</h4></div>
                                        <div class="accord-content">
                                            <p>
                                                Siendo el incendio intencional una infracción criminal, su penalización es de
                                                orden público e interés social y por consiguiente la no acusación directa del agraviado
                                                no incide en la suerte del proceso, cuando los jueces del fondo han encontrado
                                                sufcientes elementos probatorios durante la instrucción de la causa.
                                            </p>
                                        </div>
                                    </div>
                                    <!-- Accordion -->
                                    <div class="accordion accordion-block">
                                        <div class="accord-btn"><h4>Responsabilidad Accidente Transito</h4></div>
                                        <div class="accord-content">
                                            <p>
                                                La responsabilidad civil que se deriva de un accidente tiene su origen en la falta
                                                penal prevista por la ley de tránsito, por lo que, si se establece que no existe falta penal,
                                                no puede retenerse una falta civil. <br>
                                                <br>Es penal y pública la acción derivada de un accidente de tránsito en que pierde
                                                la vida una persona, requiriéndose por tanto la presencia del Ministerio Público en
                                                ambos grados de jurisdicción, a falta de lo cual se vulneran las garantías procesales de
                                                los litigantes.
                                            </p>
                                        </div>
                                    </div>
                                    <!-- Accordion -->
                                    <div class="accordion accordion-block">
                                        <div class="accord-btn"><h4>Licencia de Conducir</h4></div>
                                        <div class="accord-content">
                                            <p>
                                                La falta de licencia de conducir hace presumible que el conductor no conoce
                                                la ley que regula el tránsito de vehículos, ni que posee destreza y entrenamiento para
                                                conducir. La ausencia de la misma hace al conductor un infractor de la ley penal, por
                                                lo que el tribunal debe considerar esta situación al evaluar las conductas de quienes
                                                intervienen en la colisión.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div><!--End Default Two Column-->

                </section>

                <!--Team Section-->


            </div><!--End Content Side-->
            <!--Sidebar-->
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 pull-left">
                <aside class="sidebar">

                    <!--Sidebar Widget / Boxed Nav-->
                    <div class="widget sidebar-widget boxed-nav">
                        <nav class="nav-outer">
                            <ul>
                                <li class="current"><a href="@Url.Action("PracticeArea", "Home")">Areas de Practica</a></li>
                                <li><a href="@Url.Action("DerechoCivil", "Home")">Derecho Civil</a></li>
                                <li><a href="@Url.Action("DerechoFamilia", "Home")">Derecho de Familia</a></li>
                                <li><a href="@Url.Action("DerechoMigratorio", "Home")">Derecho Migratorio</a></li>
                                <li><a href="@Url.Action("DerechoPenal", "Home")">Derecho Penal</a></li>
                                <li><a href="@Url.Action("DerechoInmobiliario", "Home")">Derecho Inmobiliario</a></li>
                                <li><a href="@Url.Action("DerechoOtro", "Home")">Otros Servicios</a></li>
                            </ul>
                        </nav>
                    </div>

                </aside>
            </div><!--End Sidebar-->

        </div>
    </div>
</div>



