
@{
    ViewBag.Title = "DerechoCivil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Page Title-->
<section class="page-title" style="background-image:url(/images/1920x350/civil.jpg);">
    <div class="auto-container">
        <h1>Derecho Civil</h1>
    </div>
</section>

<!--Page Info-->
<section class="page-info">
    <div class="auto-container clearfix">
        <div class="pull-left"><h2>Derecho Civil</h2></div>
        <div class="pull-right">
            <ul class="bread-crumb clearfix">
                <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                <li><a href="@Url.Action("PracticeArea", "Home")">Areas de Practica</a></li>
                <li>Derecho Civil</li>
            </ul>
        </div>
    </div>
</section>


<!--Sidebar Page-->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">

            <!--Content Side-->
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 pull-right">
                <!--Law Section-->
                <section class="law-section">

                    <!--Upper Part-->
                    <div class="law-upper">
                        <div class="row clearfix">
                            <div class="col-md-7 col-sm-6 col-xs-12">
                                <!--Carousel Outer-->
                                <div class="carousel-outer">
                                    <!--Image Carousel-->
                                    <ul class="image-carousel single-item-carousel">
                                        <li><a href="/images/500x408/civilderecho_civil.jpg" class="lightbox-image" title="Procedimiento Civil"><img src="/images/500x408/civilderecho_civil.jpg" alt=""></a></li>
                                        <li><a href="/images/500x408/civilsrl.jpg" class="lightbox-image" title="Contratos"><img src="/images/500x408/civilsrl.jpg" alt=""></a></li>
                                        <li><a href="/images/500x408/civil2.jpg" class="lightbox-image" title="Litigios Civiles"><img src="/images/500x408/civil2.jpg" alt=""></a></li>
                                        <li><a href="/images/500x408/civilempresa.jpg" class="lightbox-image" title="Derecho Corporativo"><img src="/images/500x408/civilempresa.jpg" alt=""></a></li>
                                        <li><a href="/images/500x408/civilcrearempresa.jpg" class="lightbox-image" title="Constitucion de Empresas"><img src="/images/500x408/civilcrearempresa.jpg" alt=""></a></li>
                                    </ul>

                                </div>
                            </div>

                            <div class="col-md-5 col-sm-6 col-xs-12">
                                <!--Specs Box-->
                                <div class="specs-box">
                                    <h2>Asuntos de Derecho Civil</h2>

                                    <ul class="styled-list-one">
                                        <li>Contratos</li>
                                        <li>Constitucion de Empresa</li>
                                        <li>Litigios Civiles</li>
                                        <li>Derecho Corporativo</li>
                                        <li>Gestion de Cobros</li>
                                        <li>Demandas en General</li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div><!--Upper Part-->
                    <!--About Law-->
                    <div class="about-law">

                        <div class="clearfix">
                            <div class="styled-heading pull-left"><h2>Acerca del Derecho Civil</h2></div>
                            <div class="padd-top-10 pull-right"><a href="@Url.Action("Index", "Home")" class="theme-btn btn-style-one">Envia tu Caso</a></div>
                        </div>

                        <div class="text">
                            <p>
                                El Derecho Civil es la rama del derecho encargada de vigilar por el buen desenvolvimiento de las relaciones de las
                                personas con otras y con el estado. Las disposiciones que este derecho civil impone son de carácter ético, suponen
                                una correcta conducta con el medio ambiente son representadas por la sociedad. Las relaciones que se desarrollan
                                dentro del marco legal del derecho civil pueden ser tanto públicas como privadas, podrán generar actos y consecuencias
                                que afecten al sector público nacional.
                            </p>
                        </div>

                    </div>

                    <!--Default Two Column-->
                    <div class="default-two-column">
                        <div class="row clearfix">
                            <div class="col-lg-7 col-md-12 col-xs-12">
                                <div class="styled-heading"><h2>Conozca sus derechos</h2></div>

                                <div class="text">
                                    <p>
                                        En caso de emplazamiento a sociedades comerciales, las únicas personas califcadas para
                                        recibir las notifcaciones son el gerente, administrador o representante legal de dicha
                                        compañía.
                                    </p>
                                    <p>
                                        La actuación irregular de los socios de una sociedad comercial, al vender bienes
                                        propiedad de ésta, no puede califcarse como robo o estafa. Esto no impide accionar en el
                                        fuero civil, siempre que se confguren los hechos invocados por el actor civil.
                                    </p>

                                    <p>
                                        En un accidente de tránsito, la parte civil, que pretende obtener una indemnización
                                        por parte de la aseguradora del vehículo accidentado, debe demostrar al tribunal la
                                        propiedad del vehículo mediante una certifcación de la DGII y la existencia de un contrato
                                        de seguro por medio de certifcación expedida por la Superintendencia de Seguros. Ni
                                        el acta policial, ni un simple marbete pueden establecerlos fehacientemente.
                                    </p>
                                </div>
                            </div>

                            <div class="col-lg-5 col-md-12 col-xs-12">
                                <!--Accordion Box-->
                                <div class="accordion-box style-two">
                                    <!-- Accordion -->
                                    <div class="accordion accordion-block">
                                        <div class="accord-btn active"><h4>Sobre los Contratos</h4></div>
                                        <div class="accord-content collapsed">
                                            <p>
                                                Un contrato es un acuerdo de voluntades que crea o transmite derechos y obligaciones a las partes que lo suscriben. <br>
                                                <br>  El contrato es un tipo de acto jurídico en el que intervienen dos o más personas y está destinado a crear derechos
                                                y generar obligaciones. Se rige por el principio de autonomía de la voluntad, según el cual, puede contratarse
                                                sobre cualquier materia no prohibida. Los contratos se perfeccionan por el mero consentimiento y las obligaciones
                                                que nacen del contrato tienen fuerza de ley entre las partes contratantes.
                                            </p>
                                        </div>
                                    </div>
                                    <!-- Accordion -->
                                    <div class="accordion accordion-block">
                                        <div class="accord-btn"><h4>Demanda en Accidente Transito</h4></div>
                                        <div class="accord-content">
                                            <p>
                                                Las víctimas de un accidente de vehículo pueden elegir demandar en daños y
                                                perjuicios al propietario del mismo o al suscriptor de la póliza en su calidad de comitente
                                                del conductor, pero a este último sólo puede condenársele hasta la concurrencia del monto
                                                de la póliza, lo que no sucede con el propietario.
                                            </p>
                                        </div>
                                    </div>
                                    <!-- Accordion -->
                                    <div class="accordion accordion-block">
                                        <div class="accord-btn"><h4>Traspaso de Acciones</h4></div>
                                        <div class="accord-content">
                                            <p>
                                                Sólo los accionistas de una compañía tienen calidad para demandar la nulidad de una
                                                venta de acciones que no cumplió con la exigencia de ofertarlas previamente a los socios,
                                                quedando en principio excluidos de tal reclamación los terceros ajenos a la sociedad.
                                            </p>
                                        </div>
                                    </div>
                                    <!-- Accordion -->
                                    <div class="accordion accordion-block">
                                        <div class="accord-btn"><h4>Abuso de Proceso</h4></div>
                                        <div class="accord-content">
                                            <p>
                                                La persona accionada como civilmente responsable no está autorizada para
                                                demandar reconvencionalmente en daños y perjuicios a quien de manera temeraria
                                                la haya encausado y le haya ocasionado un perjuicio, no así el prevenido.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div><!--End Default Two Column-->

                </section>



            </div><!--End Content Side-->
            <!--Sidebar-->
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 pull-left">
                <aside class="sidebar">

                    <!--Sidebar Widget / Boxed Nav-->
                    <div class="widget sidebar-widget boxed-nav">
                        <nav class="nav-outer">
                            <ul>
                                <li class="current"><a href="@Url.Action("PracticeArea", "Home")">Areas de Practica</a></li>
                                <li><a href="@Url.Action("DerechoCivil", "Home")">Derecho Civil</a></li>
                                <li><a href="@Url.Action("DerechoFamilia", "Home")">Derecho de Familia</a></li>
                                <li><a href="@Url.Action("DerechoMigratorio", "Home")">Derecho Migratorio</a></li>
                                <li><a href="@Url.Action("DerechoPenal", "Home")">Derecho Penal</a></li>
                                <li><a href="@Url.Action("DerechoInmobiliario", "Home")">Derecho Inmobiliario</a></li>
                                <li><a href="@Url.Action("DerechoOtro", "Home")">Otros Servicios</a></li>
                            </ul>
                        </nav>
                    </div>

                </aside>
            </div><!--End Sidebar-->

        </div>
    </div>
</div>

@section scripts {
    <script src="/js/bxslider.js"></script>
    <script src="/js/mixitup.js"></script>
}
