
@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--Page Title-->
<section class="page-title" style="background-image:url(/images/1920x350/legal.jpg);">
    <div class="auto-container">
        <h1>Servicios</h1>
    </div>
</section>

<!--Page Info-->
<section class="page-info">
    <div class="auto-container clearfix">
        <div class="pull-left"><h2>Servicios</h2></div>
        <div class="pull-right">
            <ul class="bread-crumb clearfix">
                <li><a href="">Inicio</a></li>
                <li>Servicios</li>
            </ul>
        </div>
    </div>
</section>


<!--Sidebar Page-->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">

            <!--Content Side-->
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 pull-right">

                <!--Products Section-->
                <section class="products-section no-padd-top">

                    <div class="row clearfix">

                        <!--Product 1Item-->
                        <article class="default-product-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <figure class="image-box">
                                    <img src="/images/270x270/visa.jpg" alt="">
                                    <div class="default-overlay-outer">
                                        <div class="inner">
                                            <div class="content-layer">
                                                <a id="btn1" href="#snServicio" class="theme-btn btn-style-three">Solicitar</a>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                                <div class="content-box">
                                    <h4><a href="#">Asesoría consular y Migratoria</a></h4>
                                    <div class="item-price">RD$ 990.00 <span class="strike-through">RD$ 1,990.00</span></div>
                                </div>
                            </div>
                        </article>

                        <!--Product2 Item-->
                        <article class="default-product-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <figure class="image-box">
                                    <img src="/images/270x270/visa2.jpeg" alt="">
                                    <div class="default-overlay-outer">
                                        <div class="inner">
                                            <div class="content-layer">
                                                <a id="btn2" href="#snServicio" class="theme-btn btn-style-three">Solicitar</a>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                                <div class="content-box">
                                    <h4><a href="#">Creación Perfil consular, cita VAC, cita entrevista consular </a></h4>
                                    <div class="item-price">RD$ 1,290.00 <span class="strike-through">RD$ 2,990.00</span></div>
                                </div>
                            </div>
                        </article>

                        <!--Product 3Item-->
                        <article class="default-product-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <figure class="image-box">
                                    <img src="/images/270x270/visaAprobada.jpg" alt="">
                                    <div class="default-overlay-outer">
                                        <div class="inner">
                                            <div class="content-layer">
                                                <a id="btn3" href="#snServicio" class="theme-btn btn-style-three">Solicitar</a>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                                <div class="content-box">
                                    <h4><a href="#">Llenado de formulario + asesoría consular</a></h4>
                                    <div class="item-price">RD$ 3,490.00 <span class="strike-through">RD$ 4,200.00</span></div>
                                </div>
                            </div>
                        </article>
                    </div>

                    <div class="row clearfix">
                        <!--Product4 Item-->
                        <article class="default-product-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <figure class="image-box">
                                    <img src="/images/270x270/paq.jpg" alt="">
                                    <div class="default-overlay-outer">
                                        <div class="inner">
                                            <div class="content-layer">
                                                <a id="btn4" href="#snServicio" class="theme-btn btn-style-three">Solicitar</a>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                                <div class="content-box">
                                    <h4><a href="#">Full Pack (Asesoria + DS-160 + Perfil + Cita Vac + Entrevista Consular) </a></h4>
                                    <div class="item-price">RD$ 4,990.00 <span class="strike-through">RD$ 6,590.00</span></div>
                                </div>
                            </div>
                        </article>

                        <!--Product 5Item-->
                        <article class="default-product-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <figure class="image-box">
                                    <img src="/images/270x270/renova.jpg" alt="">
                                    <div class="default-overlay-outer">
                                        <div class="inner">
                                            <div class="content-layer">
                                                <a id="btn5" href="#snServicio" class="theme-btn btn-style-three">Solicitar</a>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                                <div class="content-box">
                                    <h4><a href="#">Renovación Visa B1/B2</a></h4>
                                    <div class="item-price">RD$ 3,990.00</div>
                                </div>
                            </div>
                        </article>

                        <!--Product6 Item-->
                        <article class="default-product-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <figure class="image-box">
                                    <img src="/images/270x270/viajemenor.jpg" alt="">
                                    <div class="default-overlay-outer">
                                        <div class="inner">
                                            <div class="content-layer">
                                                <a id="btn6" href="#snServicio" class="theme-btn btn-style-three">Solicitar</a>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                                <div class="content-box">
                                    <h4><a href="#">Autorización viaje exterior menor de edad </a></h4>
                                    <div class="item-price">RD$ 6,500.00</div>
                                </div>
                            </div>
                        </article>
                    </div>

                    <div class="row clearfix">
                        <!--Product 5Item-->
                        <article class="default-product-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <figure class="image-box">
                                    <img src="/images/270x270/empresa.jpg" alt="">
                                    <div class="default-overlay-outer">
                                        <div class="inner">
                                            <div class="content-layer">
                                                <a id="btn7" href="#snServicio" class="theme-btn btn-style-three">Solicitar</a>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                                <div class="content-box">
                                    <h4><a href="#">Constitución de Empresa SRL  </a></h4>
                                    <div class="item-price">RD$ 15,000.00 <span class="strike-through">RD$ 22,300.00</span></div>
                                </div>
                            </div>
                        </article>

                        <!--Product 5Item-->
                        <article class="default-product-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <figure class="image-box">
                                    <img src="/images/270x270/contrato.jpg" alt="">
                                    <div class="default-overlay-outer">
                                        <div class="inner">
                                            <div class="content-layer">
                                                <a id="btn8" href="#snServicio" class="theme-btn btn-style-three">Solicitar</a>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                                <div class="content-box">
                                    <h4><a href="#">Contratos desde </a></h4>
                                    <div class="item-price">RD$ 3,690.00 </div>
                                </div>
                            </div>
                        </article>

                        <!--Product6 Item-->
                        <article class="default-product-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <figure class="image-box">
                                    <img src="/images/270x270/acuerdopre.jpg" alt="">
                                    <div class="default-overlay-outer">
                                        <div class="inner">
                                            <div class="content-layer">
                                                <a id="btn9" href="#snServicio" class="theme-btn btn-style-three">Solicitar</a>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                                <div class="content-box">
                                    <h4><a href="#">Acuerdo Prenupcial desde </a></h4>
                                    <div class="item-price">RD$ 45,000.00</div>
                                </div>
                            </div>
                        </article>
                    </div>

                    <div class="row clearfix">
                        <!--Product 5Item-->
                        <article class="default-product-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <figure class="image-box">
                                    <img src="/images/270x270/divorcio.jpg" alt="">
                                    <div class="default-overlay-outer">
                                        <div class="inner">
                                            <div class="content-layer">
                                                <a id="btn10" href="#snServicio" class="theme-btn btn-style-three">Solicitar</a>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                                <div class="content-box">
                                    <h4><a href="#">Divorcio al Vapor desde  </a></h4>
                                    <div class="item-price">US$ 990.00 </div>
                                </div>
                            </div>
                        </article>

                        <!--Product 5Item-->
                        <article class="default-product-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <figure class="image-box">
                                    <img src="/images/270x270/divorcio2.jpg" alt="">
                                    <div class="default-overlay-outer">
                                        <div class="inner">
                                            <div class="content-layer">
                                                <a id="btn11" href="#snServicio" class="theme-btn btn-style-three">Solicitar</a>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                                <div class="content-box">
                                    <h4><a href="#">Divorcio por incompatibilidad desde </a></h4>
                                    <div class="item-price">RD$ 24,990.00 </div>
                                </div>
                            </div>
                        </article>

                        <!--Product6 Item-->
                        <article class="default-product-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <figure class="image-box">
                                    <img src="/images/270x270/credito.jpg" alt="">
                                    <div class="default-overlay-outer">
                                        <div class="inner">
                                            <div class="content-layer">
                                                <a id="btn12" href="#snServicio" class="theme-btn btn-style-three">Solicitar</a>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                                <div class="content-box">
                                    <h4><a href="#">Asesoría Crediticia</a></h4>
                                    <div class="item-price">RD$ 1,290.00 <span class="strike-through">RD$ 2,000.00</span></div>
                                </div>
                            </div>
                        </article>
                    </div>

                    <div class="row clearfix">
                        <!--Product 5Item-->
                        <article class="default-product-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <figure class="image-box">
                                    <img src="/images/270x270/recupera.jpeg" alt="">
                                    <div class="default-overlay-outer">
                                        <div class="inner">
                                            <div class="content-layer">
                                                <a id="btn13" href="#snServicio" class="theme-btn btn-style-three">Solicitar</a>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                                <div class="content-box">
                                    <h4><a href="#">Proceso Saneamiento Buro de crédito </a></h4>
                                    <div class="item-price">RD$ 7,990.00 </div>
                                </div>
                            </div>
                        </article>

                        <!--Product 5Item-->
                        <article class="default-product-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <figure class="image-box">
                                    <img src="/images/270x270/traspaso.jpg" alt="">
                                    <div class="default-overlay-outer">
                                        <div class="inner">
                                            <div class="content-layer">
                                                <a id="btn14" href="#snServicio" class="theme-btn btn-style-three">Solicitar</a>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                                <div class="content-box">
                                    <h4><a href="#">Traspaso de Vehículo desde </a></h4>
                                    <div class="item-price">RD$ 6,600.00<span class="strike-through">RD$ 2,000.00</span></div>
                                </div>
                            </div>
                        </article>

                        <!--Product6 Item-->
                        <article class="default-product-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <figure class="image-box">
                                    <img src="/images/270x270/actoventa.jpg" alt="">
                                    <div class="default-overlay-outer">
                                        <div class="inner">
                                            <div class="content-layer">
                                                <a id="btn15" href="#snServicio" class="theme-btn btn-style-three">Solicitar</a>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                                <div class="content-box">
                                    <h4><a href="#">Actos de Venta de Vehículos desde</a></h4>
                                    <!--Etiqueta servicio-->           <div id="snServicio" class="item-price">RD$ 3,690.00 <span class="strike-through">RD$ 4,800.00</span></div>
                                </div>
                            </div>
                        </article>
                    </div>

                </section>

            </div><!--End Content Side-->
            <!--Sidebar-->
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 pull-left">
                <aside class="sidebar">

                    <!--Sidebar Widget / Boxed Nav-->
                    <div class="widget sidebar-widget boxed-nav">
                        <nav class="nav-outer">
                            <ul>
                                <li class="current"><a href="@Url.Action("PracticeArea", "Home")">Areas de Practica</a></li>
                                <li><a href="@Url.Action("DerechoCivil", "Home")">Derecho Civil</a></li>
                                <li><a href="@Url.Action("DerechoFamilia", "Home")">Derecho de Familia</a></li>
                                <li><a href="@Url.Action("DerechoMigratorio", "Home")">Derecho Migratorio</a></li>
                                <li><a href="@Url.Action("DerechoPenal", "Home")">Derecho Penal</a></li>
                                <li><a href="@Url.Action("DerechoInmobiliario", "Home")">Derecho Inmobiliario</a></li>
                                <li><a href="@Url.Action("DerechoOtro", "Home")">Otros Servicios</a></li>
                            </ul>
                        </nav>
                    </div>

                </aside>
            </div><!--End Sidebar-->

        </div>
    </div>
</div>



<!--Consultation Section-->
<section class="consult-section" style="background-image:url(/images/1920x604/books.jpg);">
    <div class="auto-container">

        <!--Styled Heading-->
        <div class="styled-heading">
            <h2> Solicita un Servicio ahora !!!</h2>
        </div>

        <figure class="man-image hidden-xs"><img src="/images/500x500/portafolio.jpg" alt=""></figure>

        <div class="default-form consultation-form">
            <form id="frmServicio" method="post" action="">
                <div class="row clearfix">
                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                        <input id="nombreServicio" type="text" name="fname" value="" placeholder="Nombres" required>
                    </div>
                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                        <input id="apellidoServicio" type="text" name="lname" value="" placeholder="Apellidos" required>
                    </div>
                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                        <input id="emailServicio" type="text" name="email" value="" placeholder="Correo" required>
                    </div>
                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                        <input id="telefonoServicio" type="text" name="phone" value="" placeholder="Telefono" required>
                    </div>
                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                        <select id="ddFormCombo" name="subject">
                            <option value=1>Asesoría consular RD$ 990.00</option>
                            <option value=2>Creación Perfil consular, cita VAC, cita entrevista consular  RD$ 1,290.00</option>
                            <option value=3>Llenado de formulario + asesoría consular  RD$ 3,490.00</option>
                            <option value=4>Paquete completo RD$ 4,990.00</option>
                            <option value=5>Renovación Visa B1/B2  RD$ 3,990.00</option>
                            <option value=6>Autorización viaje exterior menor de edad RD$ 6,500.00</option>
                            <option value=7>Constitución Empresa SRL RD$ 15,000.00</option>
                            <option value=8>Contratos desde RD$ 3,690.00</option>
                            <option value=9>Acuerdo Prenupcial desde RD$ 45,000.00</option>
                            <option value=10>Divorcio al Vapor desde US$ 990.00</option>
                            <option value=11>Divorcio por incompatibilidad RD$ 24,990.00</option>
                            <option value=12>Asesoría Crediticia RD$ 1,290.00</option>
                            <option value=13>Saneamiento Buro crédito RD$ 7,990.00</option>
                            <option value=14>Traspaso Vehículo desde RD$ 6,600.00</option>
                            <option value=15>Acto Venta Vehículos desde RD$ 3,690.00</option>

                        </select>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <textarea id="mensajeServicio"  name="message" placeholder="Mensaje" required></textarea>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <button type="button" class="theme-btn btn-style-one" id="btnSolicitarServicio">Solicitar Servicio</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</section>




